*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --heading:rgb(0 10 45);
    --black:#212319;
    --para:#777;
    --para-tint:#e4e4e4;
    --white:#fff;
    --helper:#8490ff;
    --helper-tint:#f3f4ff;
    --bg:rgb(249,249,255);
    --gradient:linear-gradient(0 deg,rgb(132 144 255) 0%, rgb(98,189,252) 100%);
    --gradientsupport: -webkit-linear-gradient(
        0deg,
        rgb(132 144 255) 0%,
        rgb(98 189 252) 100%
    );
    --shadow: 0px 0px 20px 0px rgb(132 144 255/ 20%);

}
html{
    font-size: 62.5%;

}
h1,h2,h3,h4{

}
h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}
h3{
    font-size:1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
p{
    color:(--para);
    line-height: 1.6;
    font-size :1.7rem;
}
a{
    text-decoration: none;

}
li{
    list-style: none;
}




/* Header Section Start */

.header{
padding: 0 4.8rem;
height: 6rem;
background-color: rgb(191 255 241); ;
display: flex;
justify-content: space-between  ;
Align-items: center;
}
.header .logo{
    height: 5rem;
}
.navbar-lists{
    display: flex;
    gap: 4.8rem ;
}
.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black);
    transition: all 0.3s linear ;
}
.navbar-link:hover,
.navbar-link:active{
    color:var(--helper)
}

/*------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------My Portfolio---------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------*/
.Zaid_image{
    size-adjust: 10rem;
    align-items: center;
}